In [11]:
import pandas as pd
import csv
import numpy as np
import pprint
import copy
import random
import math
import re

def form_dic(line):
    temp_dic = {}
    
    pattern = re.compile(r'\".*\"')
    dis = pattern.search(line)
    
    found = dis.group()
    temp_dic.setdefault("Name", found)
    temp_str = line.replace(","+found, "")
    
    temp_list = temp_str.split(",")
    
    temp_dic.setdefault("PassengerId", temp_list[0])
    temp_dic.setdefault("Survived", int(temp_list[1]))
    temp_dic.setdefault("Pclass", int(temp_list[2]))
    temp_dic.setdefault("Sex", temp_list[3])
    temp_dic.setdefault("Age", float(temp_list[4]) if temp_list[4] != "" else -1)
    temp_dic.setdefault("SibSp", int(temp_list[5]))
    temp_dic.setdefault("Parch", int(temp_list[6]))
    temp_dic.setdefault("Ticket", temp_list[7])
    temp_dic.setdefault("Fare", float(temp_list[8]))
    temp_dic.setdefault("Cabin", temp_list[9] if temp_list[9]!="" else "missing")
    temp_dic.setdefault("Embarked", temp_list[10])
    
    return temp_dic


with open("train.csv") as csvfile:
    titanic_data_inline = [line[:-1] for line in csvfile]

titanic_data_attribute = titanic_data_inline[0].split(",")
del titanic_data_inline[0]

titanic_data_dic = [form_dic(line) for line in titanic_data_inline]

print(titanic_data_attribute)

training_set = titanic_data_dic[:int(4/5*len(titanic_data_dic))]
test_set = titanic_data_dic[int(4/5*len(titanic_data_dic)):]

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

# #print out the full train data we have

In [14]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
full = train.append(test,ignore_index=True)
print('after merge data:' ,full.shape)

after merge data: (1309, 12)

In [15]:
full.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,1309.000000,891.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,655.000000,0.383838,2.294882,29.881138,0.498854,0.385027,33.295479
std,378.020061,0.486592,0.837836,14.413493,1.041658,0.865560,51.758668
min,1.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,328.000000,0.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,655.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,982.000000,1.000000,3.000000,39.000000,1.000000,0.000000,31.275000
max,1309.000000,1.000000,3.000000,80.000000,8.000000,9.000000,512.329200

In [16]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB

## Cleaning data: Complementing the missing data

In [17]:
# using mean method to complement 'age' and 'Fare'
full['Age'] = full['Age'].fillna(full['Age'].mean())
full['Fare'] = full['Fare'].fillna(full['Fare'].mean())
full.info() # from the info we can see age:1309, and Fare: 1309

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1309 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1309 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB

In [19]:
# use 'S' and 'U' to complment 'Embarked' and 'Cabin'
full['Embarked'] = full['Embarked'].fillna('S')
full['Cabin'] = full['Cabin'].fillna('U')

In [20]:
full.info() # check if we successfully complement the 'S' and 'U' into the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1309 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1309 non-null   float64
 10  Cabin        1309 non-null   object
 11  Embarked     1309 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB